<li class="nav-item">
  <%= link_to current_user.email, root_path, class:"nav-link active" %>
</li>
<li class="nav-item">
  <p><%= link_to 'Ver aplicações', project_applications_path, class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <p><%= link_to 'Adicionar projeto', new_project_path, class:"nav-link active" %>
    </li>
    <li class="nav-item">
      <p><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link active"%>
      </li>
