<% if user_signed_in? && current_user.project%>
  <h1>Aplicações para o projeto <%= @project_application.project.title%></h1>
  <dl>
    <dt>Introdução </dt>
    <dd><%= @project_application.introduction%>
  </dl>
<% end %>

<% if professional_signed_in? && current_professional.project_applications%>

  <h1>Sua Aplicação para o projeto <%= @project_application.project.title%></h1>
  <dl>
    <dt>Introdução: </dt>
    <dd><%= @project_application.introduction%>
  </dl>
<% end %>
